hotelmanagement-api/src/main/mule/hotelinfo-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd">
    <http:listener-config name="hotelinfo-sys-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8091" />
    </http:listener-config>
    <apikit:config name="hotelinfo-sys-api-config" api="hotelinfo-sys-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="f3a303ef-8a4e-469d-81d0-479a54911d65" >
		<mongo:connection-string-connection connectionString="mongodb+srv://root:112212@cluster0.o1tom.mongodb.net/hotelMgmt?retryWrites=true&amp;w=majority" />
	</mongo:config>
	<flow name="hotelinfo-sys-api-main">
        <http:listener config-ref="hotelinfo-sys-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="hotelinfo-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="hotelinfo-sys-api-console">
        <http:listener config-ref="hotelinfo-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="hotelinfo-sys-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
	<flow name="put:\hotelInfo:application\json:hotelinfo-sys-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="1d1e07bd-e464-4d8d-a05b-606456b17811" name="hotelStaff-apiSub_Flow"/>
    </flow>
	<flow name="delete:\hotelInfo:hotelinfo-sys-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="81ae327f-caa8-4e77-a986-a025f6a33344" message="delete flow started"/>
		<mongo:remove-documents doc:name="Remove documents" doc:id="e8973789-8ea4-440d-899b-65463f7738ae" config-ref="MongoDB_Config" collectionName="hotelInfo">
			<mongo:query ><![CDATA[#["{ hotelId: " ++ attributes.queryParams.hotelId ++ "}"]]]></mongo:query>
		</mongo:remove-documents>
		<mongo:count-documents doc:name="Count documents" doc:id="f53b8d26-aa50-4d00-9398-3d10a1518eb0" config-ref="MongoDB_Config" collectionName="hotelInfo"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"TotalRecords": payload
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	<flow name="get:\hotelInfo:hotelinfo-sys-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="973517a8-92d2-4a43-afde-27ff6a128ccf" message="get flow started"/>
		<choice doc:name="Choice" doc:id="d40bcb69-8710-43d4-88a6-895a2ed608d6" >
			<when expression="#[!isEmpty(attributes.queryParams)]">
				<mongo:find-documents doc:name="Find documents" doc:id="3254804f-19cc-42f8-8916-3493462b7d0a" config-ref="MongoDB_Config" collectionName="hotelInfo" fields="hotelName,hotelLocation,hotelId,numberOfRoomwithoutAc,numberOfRoomwithAc,Aminities,hotelAddress,contactNumber,mailAddress,contactPerson">
					<mongo:query ><![CDATA[#["{ hotelId: " ++ attributes.queryParams.hotelId ++ "}"]]]></mongo:query>
				</mongo:find-documents>
				<ee:transform doc:name="Transform Message" doc:id="92a5edd8-135a-45cd-be2c-e1d2dd48dda4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload[0]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="eaae8d14-ddc0-4e86-8697-8248dc127d6a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<mongo:find-documents doc:name="Find documents" doc:id="5745529a-9052-43d0-8c70-451eec022511" config-ref="MongoDB_Config" collectionName="hotelInfo" fields="hotelName,hotelLocation,hotelId,numberOfRoomwithoutAc,numberOfRoomwithAc,Aminities,hotelAddress,contactNumber,mailAddress,contactPerson" />
				<ee:transform doc:name="Transform Message" doc:id="8342e17d-ab4c-4435-b5c8-735d8509f837">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
    </flow>
    <flow name="post:\hotelInfo:application\json:hotelinfo-sys-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="25d2078c-f202-47c7-90d5-34eb97c7f7cd" message="post flow started" />
		<mongo:count-documents doc:name="Count documents" doc:id="73df9b3f-6cf1-42b8-a4c5-384e31acf572" config-ref="MongoDB_Config" collectionName="hotelInfo"/>
		<ee:transform doc:name="Transform Message" doc:id="196969ec-838e-421c-9c16-6b2b3d73f6e2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"TotalRecords": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
	<sub-flow name="hotelStaff-apiSub_Flow" doc:id="237ae786-f42c-4ecf-8463-57dae0cc92cb" >
		<logger level="INFO" doc:name="Logger" doc:id="1f56ca4d-e500-453a-ba74-1859b07417a9" message="put method starte"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="6e401e44-da59-4afe-b56d-df77d2ec7833" variableName="IdUpdated"/>
		<first-successful doc:name="First Successful" doc:id="cb018729-6732-401b-a573-9f1c52a39f16">
			<route>
				<mongo:insert-documents collectionName="hotelInfo" doc:name="Insert documents" doc:id="537c594c-3846-4fcb-b84c-f4f81f04b023" config-ref="MongoDB_Config" />
			</route>
			<route>
				<mongo:insert-document collectionName="hotelInfo" doc:name="Insert document" doc:id="8c8cd013-813c-4b4b-9a6c-1cdd1aa51270" config-ref="MongoDB_Config" />
			</route>
		</first-successful>
		<mongo:count-documents collectionName="hotelInfo" doc:name="Count documents" doc:id="9e4d8784-c6ae-4f6e-8557-202068d7f0bc" config-ref="MongoDB_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="32bbfa64-2f71-48a6-a32f-b94d939da041">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"TotalRecords": payload,
	"hotelName" : vars.IdUpdated.employeeName ++ "updatedSuccessfully"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</sub-flow>
</mule>
